body{
    background-color: rgb(218, 144, 32);
    margin: 0;
}

table{
    width: 100vw;
    /* height: 100vh; */
    padding: 2%;
    text-align: center;
}


#gobtn{
    height: 15vmin;
    cursor: pointer;
}
td{
    background-color: darkcyan;
}
img{
    max-width: 100%;
    height: outo;
}

#storeImage{
    width: 45%;
    float:left;
    margin: 0.5%;
    margin-left: 4.5%;
}

#map{
    width: 45%;
    float:left;
    margin: 0.5%;
    margin-right: 4.5%;
}

#float{
    margin: 2%;
}

#eateryinfo{
    text-align: center;
}

@media ( max-width: 480px ){
    #float{
        margin: none;
    }
    #storeImage{
        width: auto;
        float: none;
        margin-left: 0;
    }
    #map{
        width: auto;
        float: none;
        margin-right: 0;
    }
}